<%- include("partials/header") -%>
    <!-- Main Header Area End Here -->
    <script src="https://checkout.flutterwave.com/v3.js"></script>
    <!-- Begin Yena's Breadcrumb Area -->
    <div class="breadcrumb-area ">
        <div class="container-fluid h-100">
            <div class="breadcrumb-content h-100">
                <h2 class="text-capitalize mb-0">Checkout</h2>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Checkout</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Yena's Breadcrumb Area End Here -->

    <!-- Begin Yena's Checkout Area -->
    <div class="checkout-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="coupon-accordion">

                        <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                        <div id="checkout_coupon" class="coupon-checkout-content">
                            <div class="coupon-info">
                                <form action="javascript:void(0)">
                                    <p class="checkout-coupon">
                                        <input placeholder="Coupon code" type="text">
                                        <input class="coupon-inner_btn" value="Apply Coupon" type="submit">
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <form method="post"     e">
                        <div class="checkbox-form">
                            <h3>Billing Details</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="country-select clearfix">
                                        <label>Country <span class="required">*</span></label>
                                        <input placeholder="Country" type="text" name="country"
                                            value="<%= user_details.country%>">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Full Name <span class="required">*</span></label>
                                        <input placeholder="" type="text" name="full_name"
                                            value="<%= user_details.Full_Name %>">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Address <span class="required">*</span></label>
                                        <input placeholder="Street address" type="text" name="address"
                                            value="<%= user_details.Address%>">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Town / City <span class="required">*</span></label>
                                        <input type="text" name="city" value="<%= user_details.City %>">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>State <span class="required">*</span></label>
                                        <input placeholder="" type="text" name="state"
                                            value="<%= user_details.State %>">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Email Address <span class="required">*</span></label>
                                        <input placeholder="" type="email" name="email" id="email-address"
                                            value="<%= user_details.Email %>">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Phone <span class="required">*</span></label>
                                        <input type="text" name="phone_number" value="<%= user_details.PhoneNo %>">
                                    </div>
                                </div>
                                <div class="col-md-12">


                                    <!-- <div class="check-box">
                                    <input type="checkbox" id="remember_me">
                                    <label for="remember_me">Remember me</label>
                                </div> -->

                                    <div class="order-button-payment">
                                        <input value="Save" type="submit">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="your-order">
                        <h3>Your order</h3>
                        <div class="your-order-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="cart-product-name">Product</th>
                                        <th class="cart-product-total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(cartItems.length> 0) { %>
                                        <% cartItems.map(item=> { %>
                                            <tr class="cart_item">
                                                <td class="cart-product-name">
                                                    <%= item.product_name %>
                                                </td>
                                                <% if (item.product_sales) { %>
                                                    <td class="cart-product-total"><span class="amount">₦<%= (0.75 *
                                                                item.product_price).toFixed(2) %></span>
                                                        <p class="discount-text" style="background-color:red; width: 100%; text-align: center;
                                                       color: white;font-size: 20px;">Sales (25% off)</p>
                                                    </td>

                                                    <% }else { %>
                                                        <td class="cart-product-total"><span class="amount">₦<%=
                                                                    item.product_price %></span></td>
                                                        <% } %>
                                            </tr>
                                            <% }) %>
                                                <% } else { %>
                                                    <p>Your orders are empty</p>
                                                    <% } %>
                                </tbody>
                                <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>Cart Subtotal</th>
                                        <td><span class="amount">₦<%= total(0) %></span></td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Order Total</th>
                                        <td><strong><span class="amount">₦<%= total(0) %></span></strong></td>
                                        <input type="hidden" id="amount" value="<%= total(0) %>">
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment-method">
                            <div class="payment-accordion">
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="#payment-1">
                                            <h5 class="panel-title">
                                                <a href="javascript:void(0)" class="" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">
                                                    Direct Bank Transfer.
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p>Make your payment directly into our bank account. Please use your
                                                    Order
                                                    ID as the payment
                                                    reference. Your order won’t be shipped until the funds have cleared
                                                    in
                                                    our account.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="#payment-2">
                                            <h5 class="panel-title">
                                                <a href="javascript:void(0)" class="collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">
                                                    Cheque Payment
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p>Make your payment directly into our bank account. Please use your
                                                    Order
                                                    ID as the payment
                                                    reference. Your order won’t be shipped until the funds have cleared
                                                    in
                                                    our account.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="#payment-3">
                                            <h5 class="panel-title">
                                                <a href="javascript:void(0)" class="collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">
                                                    PayPal
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p>Make your payment directly into our bank account. Please use your
                                                    Order
                                                    ID as the payment
                                                    reference. Your order won’t be shipped until the funds have cleared
                                                    in
                                                    our account.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="order-button-payment">
                                    <!-- <form method="post" action="/checkout-payment" id="paymentForm"> -->
                                    <form>
                                        <input type="hidden" name="public_key"
                                            value="FLWPUBK_TEST-49c19d4f3d4d1a782dd4f5a51b36e511-X" />
                                        <input type="hidden" name="tx_ref" value="bitethtx-019203" />
                                        <input type="hidden" id="amount" name="amount" value="<%= total(0) %>" />
                                        <input type="hidden" name="currency" value="NGN" />
                                        <input type="hidden" name="redirect_url" value="http://localhost:3500" />
                                        <input type="hidden" name="meta[token]" value="54" />
                                        <input type="hidden" id="customer_name" name="customer_name"
                                            value="<%= user.name %>" />
                                        <input type="hidden" id="customer_id" name="customer_id"
                                            value=" <%=user._id %>" />
                                        <input type="hidden" id="customer_email" name="customer_email"
                                            value="<%= user.username %>" />
                                        <input type="hidden" id="customer_phone" name="customer_email"
                                            value="<%= user.phoneNo %>" />

                                        <button type="button" id="start-payment-button" onclick="makePayment()">Pay
                                            Now</button>
                                        <!-- <input value="Place order" type="submit"> -->
                                </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Yena's Checkout Area End Here -->

    <script>
        const amount = document.getElementById("amount").value
        const username = document.getElementById("customer_name").value
        const userId = document.getElementById("customer_id").value
        const email = document.getElementById("customer_email").value
        const phone = document.getElementById("customer_phone").value
        console.log(amount, username, email, phone, userId)
        const generateTransactionReference = () => {
            // Use a combination of a prefix, timestamp, and random number for uniqueness
            const prefix = 'txref-';
            const timestamp = Date.now();
            const random = Math.floor(Math.random() * 100000);

            return `${prefix}_${timestamp}_${random}`;
        };

        // Example usage
        const transactionReference = generateTransactionReference();
        function makePayment() {
            FlutterwaveCheckout({
                public_key: "FLWPUBK_TEST-49c19d4f3d4d1a782dd4f5a51b36e511-X",
                tx_ref: transactionReference,
                amount: amount,
                currency: "NGN",
                payment_options: "card, banktransfer, ussd",
                redirect_url: "http://localhost:4500/send-orders",
                meta: {
                    source: "docs-inline-test",
                    consumer_mac: "92a3-912ba-1192a",
                },
                customer: {
                    email: email,
                    phone_number: 0 + phone,
                    name: username,
                },
                customizations: {
                    title: "Nina's Glow",
                    description: "Payment for products",
                    logo: "https://github.com/ajanixoxo/Nina-s-new-Website-Design/blob/main/images/NINA'S%20GLOW%20LOGO.jpg",
                },
            });
        }

        //      function makePayment() {
        //         FlutterwaveCheckout({
        //             public_key: "FLWPUBK_TEST-49c19d4f3d4d1a782dd4f5a51b36e511-X",
        //             tx_ref:"txref-DI0NzMx12" ,
        //             amount: amount,
        //             currency: "NGN",
        //             payment_options: "card, banktransfer, ussd",
        //             meta: {
        //                 source: "docs-inline-test",
        //                 consumer_mac: "92a3-912ba-1192a",
        //             },
        //             customer: {
        //                 email: username,
        //                 phone_number: phone,
        //                 name: email,
        //             },
        //             customizations: {
        //                 title: "Nina's Glow",
        //                 description: "Payment for products",
        //                 logo: "https://github.com/ajanixoxo/Nina-s-new-Website-Design/blob/main/images/headerr.jpg",
        //             },
        //         });
        // }
    </script>

    <!-- Begin Footer Area -->
    <%- include("partials/footer") -%>